@{
    ViewData["Title"] = "Search Results";
    List<Product> products = (List<Product>)ViewData["products"];
}
@section Scripts
{
    <script src="~/js/product/search.js"></script>
    <script src="~/js/shoppingcart/AddToCart.js"></script>
}

<style>
    table {
        width: 100%;
        margin: auto;
        font-family: Comic Sans MS;
    }

    td {
        width: 400px;
    }

    .name {
        text-align: center
    }

    .button {
        background-color: #D3CCCC;
    }

    .badge {
        font-size: 14px !important;
    }

    .img_container {
        position: relative;
    }

    .search {
        text-align: right
    }

    .badge_container {
        position: absolute;
        left: 10px;
        bottom: 10px;
        opacity: 0.7;
    }
</style>

<table>
    @for (int i = 0; i < products.Count; i += 3)
    {
        int j;

        <tr>
            @for (j = 0; j < 3 && i + j < products.Count; j++)
            {
                <td>
                    @{ string url = products[i + j].PhotoLink; }
                    <div class="img_container">
                        <img src=@url width="350" height="235" />


                    </div>
                </td>
            }
            @for (; j < 3; j++)
            {
                <td></td>
            }
        </tr>
        @*------------------------------------------------------------------------------------*@

        <tr>
            @for (j = 0; j < 3 && i + j < products.Count; j++)
            {

                <th class="name">
                    @{ string name = products[i + j].ProductName;

                        @name }
                </th>
            }
            @for (; j < 3; j++)
            {
                <td></td>
            }
        </tr>
        @*------------------------------------------------------------------------------------*@
        <tr>
            @for (j = 0; j < 3 && i + j < products.Count; j++)
            {

                <td>
                    @{ string information = products[i + j].Description;

                        @information }
                </td>
            }
            @for (; j < 3; j++)
            {
                <td></td>
            }
        </tr>
        @*------------------------------------------------------------------------------------*@
        <tr>
            @for (j = 0; j < 3 && i + j < products.Count; j++)
            {

                <td class="name">
                    @{ string price = products[i + j].Price.ToString("0.00"); }

                    <button class="add_button" productId=@products[i+j].Id>$@price<br/>Add To Cart</button>

                </td>
            }
            @for (; j < 3; j++)
            {
                <td></td>
            }
        </tr>


        <tr>
            <td colspan="3"><hr /></td>
        </tr>
    }
</table>