
@{
    ViewData["Title"] = "Login";
}

@section Scripts
{
    <script src="~/js/login/index.js"></script>
}

<style>
    #err_msg {
        color: red;
        font-weight: bold;
        padding: 10px;
    }
</style>

<p></p>

<form id="form" action="/Login/Authenticate" method="post">
    <table align="center">
        @if ((string)ViewData["register"] == "successful")
        {
            <tr>
                <td colspan="2">
                    <div align="center" style="color:green;font-weight:bold">Your Account has been created successfully. <br /> Please Login to continue.</div>
                </td>
            </tr>
        }
        @if ((string)ViewData["checkout"] == "unsuccessful")
        {
            <tr>
                <td colspan="2">
                    <div align="center" style="color:red;font-weight:bold">Payment Unsuccessful.<br />Please Login and try again.</div>
                </td>
            </tr>
        }
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input id="username" name="username"
                       class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input id="password" name="password"
                       type="password" class="form-control" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input id="submitBtn" type="submit" class="btn btn-success" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <div id="err_msg">@ViewData["errMsg"]</div>
            </td>
        </tr>
    </table>
</form>

